.buyPage {
    margin-top: 60px;
    padding: 20px;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productBuyDetails {
    padding: 20px;
}
.buyExtra {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 19px;
}
.buyExtra > select {
    font-size: 14px;
    padding: 5px;
    margin-left: 10px;
    width: 200px;
}
.count {
    font-size: 14px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
}
.extras {
    padding-top: 20px;
}
.totalPrice {
    font-size: 16px;
}
.totalPrice > span {
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 5px;
}
.buyPageBtn {
    margin-top: 10px;
}
.buyPageBtn > button {
    width: 200px;
}
.buyImage {
    height: 400px;
    width: 350px;
    border-radius: 3px;
}
.buyImage > img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.buyPage {
    position: relative;
}
.afterBuy {
    position: absolute;
    top: 0%;
    width: 500px;
}
.modelForm {
    padding: 30px 0px 30px 0px;
}
  