.homeStyles {
    padding: 5px;
    margin: 10px 0px;
}
.homeStylesData {
    display: flex;
    justify-content: center;
}
.style {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.styleImg {
    padding: 2px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(102, 186, 189);
    box-shadow: 6px 6px 10px rgb(102, 186, 189);
    transition: 0.2s;
}
.styleImg:hover {
    transform: scale(1.1);
}
.styleImg > img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}
.styleName {
    font-size: 20px;
    color: rgb(61, 60, 60);
    font-weight: bold;
    margin-top: 2px;
    font-family: Arial, sans-serif;
}