.products {
    padding: 0px 10px 10px 10px;
    min-height: 100vh;
}
.productsTop {
    display: flex;
    align-items: center;
    padding: 10px 10px 20px 35px;
    justify-content: space-between;
}
.noProductsTop {
    display: flex;
    align-items: center;
    padding: 10px 10px 20px 0px;
    justify-content: space-between;
}
.productsCount {
    font-size: 1.4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width: 576px) {
    .productsCount {
      font-size: 0.9em; 
    }
}
  
.productSearch > input {
    height: 40px;
    width: 300px;
    padding-left: 5px;
    font-family: sans-serif;
    border: none;
    border-bottom: 1px solid gray;
}
@media (max-width: 576px) {
    .productSearch > input {
        width: 80px;
        font-size: 15px;
    }
}
.searchBtn {
    color: white;
    font-size: 18px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
    margin-left: 3px;
}
.searchBtn:hover {
    background-color: #4cb5d8;
}